@charset "UTF-8";
/**
 * CDC - (X)HTML/CSS Framework
 *
 * @package         TemplatePackage 'B'
 * @version         2.8.2
 * @builddate       2016-12-13
 */

@media screen, projection, handheld, print
{

:link,:visited {text-decoration: none;}
ul {list-style: none;}
h1,h2,h3,h4,h5,h6,pre,code,p {font-size: 1em;}
*,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}
a img,:link img,:visited img {border: none;}
address {font-style: normal;}

}