#right300 {
width:300px;
float:right;
margin-left:10px;
margin-bottom:5px;
}

Div.rightBox300 {
width:300px;
margin-left:15px;
margin-bottom:15px;
float:right;
}

Div.rightBox400 {
width:400px;
margin-left:15px;
margin-bottom:15px;
float:right;
}

.border-top {
border-top-width: thin;
border-top-style:dotted;
border-top-color:#CCCCCC;
}

.margin-top-thirty {
margin-top:30px;
}


.margin-top-forty{
margin-top:40px;
}

.margin-top-fifty{
margin-top:50px;
}

.margin-right-twenty-five {
margin-right:25px;
}

.margin-right-thirty{
margin-right:30px;
}

.center {
text-align:center;
}