.accessibleHide{position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}

div.numeric { padding-right:1em; padding-top:0.5em;}
div.divtable { display: table; position:relative; clear:both; float:left; width:100%;}
div.divrow { display: table-row; position:relative; clear:both; float:left;}
div.divcell { display: table-cell; /*border:solid 1px red;*/ position:relative; float:left; }
div.divcaption { display: table-caption; }
div.floatright { float: right !important; clear: right; }
div.langlinks{ padding-left: 0.5em; padding-right: 0.5em; /*border:solid 1px red;*/ }
div.center { text-align: center !important; vertical-align: top; clear: both; padding-left:0.5em; }
    div.center div, div.center img, div.center ul, div.center ol { display: inline-block !important; }
    div.center ul li, div.center ol li { position:relative; text-align:left !important;}
h4.bold1 { margin: 0; margin-top: 0.25em; padding:0; padding-top:0.25em; }
div.spacer {height:0em !important; clear:both !important; position:relative !important; width:100%; /*border:solid 1px red;*/ }
div.breaker {height:0em !important; clear:both; position:relative; width:100%; /*border:solid 1px red;*/ }
div.panel { display: block; clear: both; position: relative; float:left; width:100%;}
    

.divtable, .divrow, .divcell, .divcaption { position: relative; white-space: normal; padding:0; margin:0; }
.calculatorHeading, .resultsHeading{font-size:18px !important; padding-left: 0.5em!important; padding: 5px 10px !important; }
.calculatorBody, .resultsBody {font-size:14px !important; line-height:25px !important;  }

div#controlToggle, span#controlToggle {
position:relative!important; /*display:inline-block!important; float: right!important; clear:right!important;*/ font-size:14px !important;  /*border:solid 1px blue;*/ /*display:block; float:left;*/}

div.example { position: relative; display: block !important; float:left; clear:both; }

ul.nomarker {position:relative; display:block; list-style-type: none !important;  list-style-image:none !important; /*list-style-position:inside;*/ /*list-style-position:hanging;*/ }
ul.nomarker li {marker:none !important; left:0px !important; top:0px !important;  }
ul.horizontal li { display: inline-block !important; position: relative !important; float: left !important; padding-right:0.5em; }

nobox { border:solid 0px transparent; border-collapse:collapse; padding:0 !important; margin:0 !important;}

input.metric { width:103px; width:5em !important;}
.menu_months {min-width:8em; width:8em; }
.menu_days {min-width:5em; width:5em; }
.menu_years { min-width:5em; width:6em;}

.rbl_genders input,
.rbl_genders label{ position:relative; display: inline; padding-right: 0.5em; }
.rbl_genders label { vertical-align: bottom; padding-left:0.5em;}

select { min-width: 5em !important; width: auto; }

fieldset, legend { border: solid 0px transparent; /*border:solid 1px red;*/ font-size:1em !important; 
padding:0!important; margin:0!important; width:100%;}
ul.fieldset { margin-left: 1.2em !important; }

ul.results_legend { list-style-position:outside; display:block; position:relative !important; left:1em; display:inline-block;}
li.results_yellow{ marker: url(https://www.cdc.gov/healthyweight/local/images/BMI_UndWeight_cblock_.gif); list-style-image: url(https://www.cdc.gov/healthyweight/local/images/BMI_UndWeight_cblock_.gif); }
li.results_green {marker: url(https://www.cdc.gov/healthyweight/local/images/BMI_HWeight_cblock_.gif);  list-style-image: url(https://www.cdc.gov/healthyweight/local/images/BMI_HWeight_cblock_.gif); }
li.results_orange {marker: url(https://www.cdc.gov/healthyweight/local/images/BMI_OvrWeight_cblock_.gif);  list-style-image: url(https://www.cdc.gov/healthyweight/local/images/BMI_OvrWeight_cblock_.gif); }
li.results_red {marker: url(https://www.cdc.gov/healthyweight/local/images/BMI_Obese_cblock_.gif); list-style-image: url(https://www.cdc.gov/healthyweight/local/images/BMI_Obese_cblock_.gif); }
ul.results_legend li { position:relative; text-align:left !important;}
.legend_yellow{ 
background-color: #FFFEB3;
}
.legend_green {
background-color: #C0FEC3;
}
.legend_orange {
background-color: #FADEAE;
}
.legend_red {
background-color: #FFBFBF;
}
.legend_purple { 
    background-color: #C5BEE1;
}
/*container: width: 935px;*/
table.legend {max-width: 560px; position:relative; left:19%;}
    table.legend th[scope='row'] { font-weight: normal; }
     table.legend th[scope='col'] { text-align:center;}

.module-typeD h2, .module-typeD h3, .module-typeD h4, .module-typeD h5, .module-typeD h6 { background-color: #ffffff !important; }

ul.validation { list-style-position:outside; display:block; position:relative !important; }
ul.error li{ marker: url(https://www.cdc.gov/healthyweight/local/images/red_exclamation_on_wht.gif); list-style-image: url(https://www.cdc.gov/healthyweight/local/images/red_exclamation_on_wht.gif); }
ul.confirm li {marker: url(https://www.cdc.gov/healthyweight/local/Images/confirm.gif);  list-style-image: url(https://www.cdc.gov/healthyweight/local/Images/confirm.gif); }
ul.retry li {marker: url(https://www.cdc.gov/healthyweight/local/images/retry.gif);  list-style-image: url(https://www.cdc.gov/healthyweight/local/images/retry.gif); }

/*nav#left a.external { display: none; visibility: hidden; }*/

div.note-errors {/*background-color:yellow;*/}
div.list-errors { padding-left:0.5em;}
div#tblErrors { position:relative; display:block; clear:both; max-width:100%; }
div#calculator_body {margin-left: 1em; }
/* UX request: Template style change: Added max-width so label and droplist stick together at medium viewports. */
div.languageOptionsOn {max-width:220px !important; /*white-space:nowrap !important;*/ }

/*PURPLE SUBMIT BUTTONS*/
input[type="submit"].somemore {border:solid 3px #3d316a; font-weight:bold; padding:0; margin:0; display:inline-block; padding-bottom:0.25em !important; }
input[type="submit"].somemore:hover{ text-decoration:underline; }    
input[type="submit"].somemore:focus { outline:0;outline:1px solid #ffa500!important;}

#skipmenu { height: 1px !important; }
.handy { cursor: default !important; }
select.fraction { width:4em !important;}
.displayNone { display:none;}

.h3ash4 { color:#000 !important; background-color: #fff !important;border:none !important;}
.h5ash4 { font-size: 18px;  line-height: 28px; border:none!important;}
#wrapper [class*="module"] > h4.h4_toggle { border-bottom: none!important; text-align:right !important;}
div.module-typeA.span19 {padding-right:1.5em !important; }

a.printer_icon:before {content:url(https://www.cdc.gov/healthyweight/local/images/printer.png);/*left:-4px;*/padding-right:4px; top:4px; position:relative!important; }
a.printer_icon {position:relative!important;font-size:14px !important; left: -5px; }
div.printer_icon{ width:100%; text-align:right; margin-bottom:5px;  }
a.aspNetDisabled, a.aspNetDisabled:hover, a.aspNetDisabled:focus, 
a.aspNetDisabled:visited, a.aspNetDisabled:disabled { text-decoration:none!important; color:#000000!important;}
     

