@charset "UTF-8";

/* =================================================
LOCAL STYLE SHEET
Use this to overwrite any of the global styles or add customized elements
================================================= */

/* Diagnostics File */
/*@import url("/TemplatePackage/css/B/diagnostics.css");*/

/* COLOR THEME -- ORANGE */
/*@import url("/TemplatePackage/css/B/theme-orange.css");*/

/* COLOR THEME -- PURPLE */
@import url("../../../../TemplatePackage/css/B/theme-purple.css");

/* COLOR THEME -- ROSE */
/*@import url("/TemplatePackage/css/B/theme-rose.css");*/

/* COLOR THEME -- TAN */
/*@import url("/TemplatePackage/css/B/theme-tan.css");*/

/* COLOR THEME -- TEAL */
/*@import url("/TemplatePackage/css/B/theme-teal.css");*/

/* min-height rule for topic blocks container */
/*
.top-blocks dl{
	min-height: 50px;
}
*/


.group div {
	min-height: 65px;	
}

li span.lihead {
	font-size: 1.1em;
	font-weight: bold;
	/* font-style: italic; */
}

img.righty {
	border: 1px solid #000;	
}

img.indright {
	margin-right: 30px;
	border: 1px solid #000;
	text-align: right;
}

.main-inner h3 {
	padding-top: 10px;
}

h3 {
	margin-bottom: .3em;
	line-height: normal;
}

.topOPage {
	margin: 2em 0 1em 0;
}

.align-center {
	text-align: center;
}

div.CollapsiblePanelTab h3 {
	padding: 0;
	margin: 0;	
}

.purple {
	color: #3D316A !important;
}