/* =================================================
LOCAL STYLE SHEET
Use this to overwrite any of the global styles or add customized elements
================================================= */

/* Diagnostics File */
/*@import url("/TemplatePackage/css/A/diagnostics.css");*/

/* COLOR THEME -- ORANGE */
/*@import url("/TemplatePackage/css/A/theme-orange.css");
<!-- compliance patch for microsoft browsers -->
<!--[if lt IE 7]>
#content-secondary .rounders .inner,
#content-secondary .rounders .t,
#content-secondary .rounders .b,
#content-secondary .rounders .b div{
	background-image:url('/TemplatePackage/images/bg_smallRails-orange.gif');
}
<![endif]-->
*/

/* COLOR THEME -- PURPLE */
/*@import url("/TemplatePackage/css/A/theme-purple.css");*/

/* min-height rule for topic blocks container */
/*
.top-blocks dl{
	min-height: 50px;
}
*/

/* 
______________________________________________________________________________________________________
DESCRIPTION:				Local Definitions for CSS Template
LAST UPDATED:June 2, 2008
AUTHOR:	OEC Webteam			   	Center/Division OD/OEC
______________________________________________________________________________________________________
*/

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ooooooooosssooooooooooo HTML ELEMENTS           ooooossssssooooooooooooo */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


h1 {
}
h2 {
	margin-top:15px;
}
h3 {
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ooooooooosssooooooooooo SPECIFIC CLASSES          ooooossssssooooooooooooo */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
.columnBlock {
	float:left;
	width:350px;
}
.center {
	text-align:center;
}
.green {
	color:#336633;
	font-weight: bold;
}
.blue {
	color: #09316c;
	font-weight: bold;
}
/*- Resource Block for questions--------------------------- */
.resource_block {
	font-size:16px;
	font-weight: bold;
	color: #fff;
	background-color:#0c5305;
	margin-top:2px;
	padding-top:2px;
	width:620px;
	height:24px;
	max-height:24px;
	text-align:center;
}
.leftAlign {
	float:left;
}
.imageLink {
	margin: 0 auto;
	width: auto;
}
.imageLink a:hover {
	margin: 0 auto;
	padding: 0;
}
.imageLink a img {
	display: block;
	margin: 0 auto;
	border: 3px solid #ffffff;
}
.imageLink a:hover img {
	border: 3px solid #F5DDAF;
}
.mattecontainer {
	clear:both;
}
.matteImage {
	float:left;
	width: 100px;
	padding-bottom: .5em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	min-height: 124px; /* this is to force IE to cooperate */
	height: 130px;
}


.matteImageN {
	float:left;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: #4B6CAD;
	padding:.5px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	width: 106px;
}
.matteImageN a:hover {
	margin: 0 auto;
}
.matteImageN a img {
	display: block;
	margin: 0 auto;
	border: 3px solid #ffffff;

}
.matteImageN a:hover img {
	border: 3px solid #F5DDAF;


}






.matteImageW {
	float:left;
	width: 135px;
	padding-bottom: .5em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	min-height: 124px; /* this is to force IE to cooperate */
	height: 130px;
}
.matteText {
	float:left;
	line-height: 1.3em;
	padding-bottom: 1em;
	margin-top: 1.3em;
	margin-bottom: 2em;
	width: 500px;
	height:auto;
}
.matteTextW {
	float:left;
	line-height: 1.3em;
	padding-bottom: .5em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 455px;
	min-height: 124px;
	height: 130px;
}
.matteImageW a img {
	display: block;
	margin: 0 auto;
	border: 3px solid #ffffff;
}
.matteImageW a:hover img {
	border: 3px solid #F5DDAF;
}
.matteImage a:hover {
	margin: 0 auto;
	padding: 0;
}
.matteImage a img {
	display: block;
	margin: 0 auto;
	border: 3px solid #ffffff;
}
.matteImage a:hover img {
	border: 3px solid #F5DDAF;
}
.leftcol {
	float: left;
	width: 240px;
	margin-left:20px;
	margin-right:20px;
}
.imagecol {
	float: left;
	width: 200px;
	margin-left:10px;
	margin-right:10px;
}
.imagecol2 {
	float: right;
	width:150px;
	margin-left:10px;
	margin-right:10px;
}
.col2 {
	float: left;
	width: 400px;
	margin-left:10px;
	margin-right:10px;
}
.col {
	float: left;
	width: 380px;
	margin-left:10px;
	margin-right:10px;
}
.colTitle {
	float: left;
	width: 450px;
	margin-top:10px;
	border-bottom-style:inset;
	border-bottom-color:#669966;
}
/* ########this code is for the SME page ########### */
.leadImagebox {
	float:left;
	padding:6px;
}
.leadTextbox {
	float:left;
	width: 436px; 
	padding:6px;
}
.imageLeft {
	margin-right: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	clear: both;
	position: relative;
}

.imageLeftN {
	margin-left: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	clear: both;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #4B6CAD;
	padding:2px;
	align: center;
}


.imageRight {
	margin-left: 10px;
	margin-bottom: 10px;
	display: block;
	float: right;
	clear: both;
	position: relative;
}
.imageRightN {
	margin-left: 10px;
	margin-bottom: 10px;
	display: block;
	float: right;
	clear: both;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #4B6CAD;
	padding:2px;
	align: center;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ooooooooosssooooooooooo DIV IDs			ooooossssssooooooooooooo */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#colwrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	overflow:auto;
	width: 620px;
	height: 80px;
}
#midPage {
	width: 620px;
	margin:10px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* oooooooooooooooooooo this controls the tabs oooooooooooo */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.shadetabs {
	padding: 2px 1px;
	margin-left: 1px;
	margin-top: 2px;
	margin-bottom: 1px;
	font: bold 12px Verdana;
	list-style-type: none;
	background-image: none;
	text-align: center; /*set to left, center, or right to align the menu as desired*/
}
.shadetabs li {
	display: inline;
	background-image: none;
	margin: 0;
}
.shadetabs li a {
	text-decoration: none;
	padding: 2px 4px;
	margin-right: 2px;
	border: 1px solid #778;
	color: #2d2b2b;
	background: white url(https://www.cdc.gov/media/images/shade.gif) top left repeat-x;
}
.shadetabs li a:visited {
	color: #2d2b2b;
}
.shadetabs li a:hover {
	text-decoration: underline;
	color: #2d2b2b;
}
.shadetabs li.selected {
	position: relative;
	top: 1px;
}
.shadetabs li.selected a { /*selected main tab style */
	background-image: url(https://www.cdc.gov/media/images/shadeactive.gif);
	border-bottom-color: white;
}
.shadetabs li.selected a:hover { /*selected main tab style */
	text-decoration: none;
}
.tabcontentstyle { /*style of tab content oontainer*/
	/*border: 1px solid gray;*/
	width: 560px;
	margin-bottom: 1em;
	padding: 10px;
	clear:left;
}
.tabcontent {
	display:none;
}
.dandouble-rule {
	position:relative;
	width:auto;
	border:1px solid #cccecd;
	clear:both;
	margin: 5px 0 12px 0;
}
.dandouble-rule h3 {
	background:#eef7e3 url('https://www.cdc.gov/media/images/bgDoubleH2-noIcon.gif') right bottom repeat-x;
	min-height:30px;
	margin: 0 0 5px 0;
}
html .dandouble-rule div {
	position:relative;
	background-color:white;
	margin:3px;
}
html .dandouble-rule div {
	background-color:white;
}
*html div.clearfix {
	display:none;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* oooooooooooooooooooo Template Changes DW 12/15/08 V-1  oooooooooooo */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* Reset -- clear out all default spacing
-------------------------------------------------------------------------*/
.module.blocklist ul li {
	margin:0px;
	padding:0px;
}
/* =Layout
-------------------------------------------------------------------------*/

/* Global footer fix*/
.pageOptions-horizontal {
	/*position:relative;*/
	background-color:#f5faed;
	margin:100px 0 0 0;
	padding:2px 0;
	max-height:1000px;
	min-height:35px;
	width: auto;/*	overflow: hidden;*/
}
/* Right nav sitemap icon*/
ul.services li.gear a {
	background:transparent url('https://www.cdc.gov/media/images/gear.gif') 0 center no-repeat;
}
/*==========================================================
FOOTER MENU (NAVIGATION) fix
===========================================================
*/



#siteinfo {
	background: transparent;
	margin-top: 100px;
	border:none;
	padding:0px;
	height:103px;
	width:auto;
}
#siteinfo-nav {
	background: #eef1f7;
	color: #0061AA;
	padding:0px;
	font-size:0.9em;
	height:23px;
	width: auto;
}
#siteinfo-nav ul.menu {
	background: transparent;
	margin:0;
	padding:0;
	list-style:none;
	line-height:1.25;
	height:23px;
}
#siteinfo-nav ul.menu li {
	float:left;
	display:inline;
	background:transparent;
	margin:0;
	padding:0 1em;
	width: auto;
}
#siteinfo-nav > ul.menu > li:first-child {
	margin-left:0;
}
#siteinfo-nav > ul.menu > li.last-child {
	background:none;
}
#siteinfo-nav ul.menu a {
	color:#0a29a5;
	padding:5px 0;
	text-decoration:none;
	display:block;
}
#siteinfo-nav ul.menu li.righty a {
	padding-left: 20px;
}
#siteinfo-nav ul.menu a:hover {
	color:#0a29a5;
	text-decoration:underline;
}
 */ #siteinfo-logos {
/*	position:absolute; */
	display:inline;
 float:right;
 height:55px;
 width:auto;
 margin:/*-70px 0 0 */0;
 padding:0;
 vertical-align:middle;
 border:1px solid #fff;
}
#siteinfo-credits #siteinfo-logos img {
	float: left;
	display: inline;
	margin: 0;
	border: none;
	padding: 0;
}
#siteinfo-credits {
	background: transparent;
}
#siteinfo-logos a:first-child img {
	margin-top:0.7em;
}
/* Controls margins for list*/

.module.double-rule ol, ul, li, .module.primaryBox ol, ul, li {
	margin: 10px;
}
/* Print Icon

ul.services li.print a{
		background:transparent url('../../images/icon_print.gif') 0 center no-repeat;
	}*/
	
	.rounders {
	position:relative;
	margin:0 auto;
	min-width:1em;
	max-width:760px; /* based on image dimensions - not quite consistent with drip styles yet */
	z-index:1;
	margin-left:12px; /* default, width of left corner */
	margin-bottom:2em; /* spacing under rounders */
	margin-top:2em; /* spacing under rounders */
}
.double-rule {
	background-color: #ebf5dd;
	margin:20px 0 20px 0;
	border:1px solid #cdcdcd;
	padding:0;
	width:auto;
	overflow:auto;
}
/* Story Idea 2008 header 
.acomplish {
	background: #085100;
	border:1px solid #cdcdcd;
	color:#FFFFFF;
	padding:0;
	width:620px;
}*/


/* Story Idea 2008 highlights */
.highlight_block {
	font-size:16px;
	font-weight: bold;
	color: #fff;
	background-color:#4A6BAD;
	margin-top:2px;
	margin-bottom:-14px;
	padding-top:2px;
	width:auto;
	height:24px;
	max-height:24px;
	text-align:center;
}


/* Story Idea 2008 highlights 
.acomplish_shade {
    margin-left: 10px;
	padding:2px;
	width:auto;
	height:auto;
}*/

/*==========================================================
B-ROLL VIDEO
===========================================================
*/

#broll_container {
	width:100%;
	
}

.broll_embed_video {
	width:212px;
	height:200px;
	float:left;
	margin-bottom:100px;
	
}

.broll_embed_text {
	width:60%;
	height:200px;
	float:left;
	margin-left:15px;
	margin-bottom:100px;
	margin-top:18px;
}

.broll_right {
	float:right;
}
