.dk_purple {background-color: #c5bee1;}
.lt_purple {background-color: #e8e8f8;}

.dk_lime {background-color: #9acd32;}
.lt_lime {background-color: #eaf8ca;}

.dk_pink {background-color: #dbb3db;}
.lt_pink {background-color: #f6e8f6;}

.dk_rose {background-color: #e1b8b8;}
.lt_rose {background-color: #fbe7e7;}

.lt_yellow {background-color: #ffffc5;}


.lt_orange {background-color: #ffcba7;}

